@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url("./normalize.css");
@import url("fontello.css");

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.readable-hidden, legend {
    /*background: red;*/
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

.container{
    width: 1200px;
    padding: 0 40px;
    margin: auto;
}

/*헤더부분*/

.header{
    width: 100%;
    background: orangered;
    display: flex;
    justify-content: space-between;
    padding: 36px 0 36px 0;

}
.siteMap {
    order: 3;
    background: gold;
}
.menu{
    display: flex;
    justify-content: space-between;
}

.menu li{

}

.menu li:first-child{
    order: 5;
}

.siteMap{
    width: 128px;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    text-align: center;
}
.siteMap .language-area{
    background: pink;
    display: inline-block;
}