@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url("./normalize.css");
@import url("fontello.css");

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/*링크스타일*/
a {
    color: inherit;
    text-decoration: none;
}

/*버튼 스타일 */
button {
    border: 0;
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.readable-hidden, legend {
    /*background: red;*/
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

.container {
    width: 1200px;
    padding: 0 40px;
    margin: auto;
}

.hidden-box{
    display: none;
}

/*헤더부분*/

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 34px 0 36px 0;
    align-items: center;
    position: relative;

}
/*.header::before{*/
    /*content: '';*/
    /*background: black;*/
    /*display: block;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 200px;*/
    /*opacity: 1%;*/
    /*top: 90px;*/
/*}*/

.logo, .language, .nav-menu {
    height: 40px;
    padding: 5px;
    display: inline-block;
    line-height: 30px;
}

.logo h1 img {
    width: 100%;
    height: 100%;
}

.nav-menu {
    /*width: 49%;*/
    position: absolute;
    left: 230px;
}

.menu {
    font-size: 1.2rem;
    display: inline-block;
    width: 750px;
}

.menu > li {
    display: inline-block;
    margin-right: 40px;
}

.menu > li {
    float: left;

}

.menu > .siteMap {
    color: #aaaaaa;
    float: right;
    margin-right: 26px;
}

.menu-submenu {
    padding: 20px 0;
    /*display: inline-block;*/
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 76px;
    /*width: 100%;*/
}

.submenu1 {
    background: pink;
    left: -230px;
}
.menu-bg{
    content: "";
    display: block;
    width: 100%;
    height: 160px;
    position: absolute;
    background: black;
    opacity: 0.2;
    z-index: -1;
    left: 0;
    top: 110px;
    /*top: ;*/
    /*z-index: 0;*/
}

.submenu1-bg{
    width: 100%;
    height: 100px;
    position: absolute;
}
.submenu2 {
    position: absolute;
    left: 7%;
}
.submenu3{
    left: 5%;
}
.submenu4{
    left: 28%;
}
/*.submenu2 > li {*/
    /*margin-right: 40px;*/
    /*display: inline-block;*/
    /*!*ds*!*/
/*}*/

.menu-submenu > li {
    margin-right: 40px;
    display: inline-block;
}

.submenu4, .submenu2, .submenu3 {
    display: none;
}

.submenu-pr {
    margin-right: 50px;
}

/*

.menu > li {
    margin-right: 50px;
}

.menu>li:first-child {
    order: 5;
}
.submenu-pr{
    position: relative;
    background: darkmagenta;
}
.menu-submenu {
    background: yellow;
    position: absolute;
    top: 71px;
    display: flex;
    display: none;
}

.submenu1{
    display: flex;
}

.submenu1>li{
}
.submenu2-pr{
    background: green;
}
.submenu2 {
}
.submenu2>li{
}
.siteMap {
    !*margin-right: -327px;*!
    position: absolute;
    right: -378px;
}
*/

.language {
    position: relative;
    order: 3;
    width: 130px;
    height: 40px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    text-align: center;
}

.language-area button {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.language-list{
    position: absolute;
    border: 1px solid #aaaaaa;
    background: #ffffff;
    width: 130px;
    left: -1px;
    top: -1px;
    border-radius: 20px;
    /*display: none;*/
}

.siteMap .language-area {
    background: pink;
    display: inline-block;
}

/* 커텐츠 히든 */

.newsRoom, .content-bottom,.visual,.footer-bg{
    display: none;
}

