@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url("./normalize.css");
@import url("fontello.css");

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 기 본 스 타 일*/

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    font-family: "Spoqa Han Sans", sans-serif;
    font-weight: 400;
    background: url("images/bg_flower.png") no-repeat, #aaaaaa linear-gradient(#aaaaaa 0%, #eeeeee 40%, #ffffff 70%, #ffffff 100%);
    background-position: 50% 0;
    color: #181818;
}

/*링크스타일*/
a {
    color: inherit;
    text-decoration: none;
}

/*숨김 콘텐츠*/
.readable-hidden, legend {
    /*background: red;*/
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

/* float 이슈를 해결하기위한 css module */
.clearfix::after {
    content: "";
    background: yellow;
    clear: both;
    display: block;
}

.container {

}

.header, .visual, .main, .slogan, .footer {
    width: 940px;
    margin: 0 auto;
}

/* 헤 더 */
.header {
    background: #fff;
    position: relative;
    min-height: 100px;
    padding: 0 30px 37px;
    border-radius: 0 0 15px 15px;
}

/* 로 고 */
.logo {
    position: absolute;
    top: 50px;
    left: 65px;
    z-index: 10;
}

/* 멤 버 링 크*/
.member {
    text-align: right;
    padding: 2px 0;
    position: relative;
    right: -10px;
}

/*메인메뉴*/
.menu {
    margin-top: 5px;
    padding-left: 225px;
    border-radius: 0 0 5px 5px;
    background: #ff7400 linear-gradient(to bottom, #ff7400 0%, #fc900c 35%, #ffb67a 70%, #ff7400 100%);
    border-top: 2px solid #181818;
    height: 47px;
}

.menu-act .menu-item-text {
    color: #ffff00 !important;

}

.sub-menu {
    line-height: 10px;
    padding: 10px;
    background: aqua;
    position: absolute;
    display: none;
    top: 47px;
    white-space: nowrap;
    display: none;
}

.sub-menu li, sub-menu a {
    display: inline-block;
}

.sub-menu a {
    padding: 8px 0;
    margin-right: 10px;
}

.sub-menu1, .sub-menu2, .sub-menu3 {
    left: 0;
}

.sub-menu4, .sub-menu5, .sub-menu6 {
    right: 0;
}

.menu-act .sub-menu {
    display: block !important;
}

.menu-item {
    cursor: pointer;
    float: left;
    position: relative;

}

.menu-item-text {
    color: #ffffff;
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 45px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0 20px;
    text-shadow: 1px 0 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 0 -1px 0 #000000;;

}

.menu-act .menu-item-text::after {
    content: "";
    background: blue;
    display: block;
    border-bottom: 2px solid #000000;
}

.member li, .member a {
    display: inline-block;
}

.member li:nth-child(n+2)::before {
    content: ":";
}

.member a {
    padding: 8px 7px 7px 10px;
    text-transform: uppercase;
}

/*비주얼*/
@keyframes textAni {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
        /*padding: 0;*/
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 75px);
        /*padding: 75px 0 0 400px;*/
    }
}

/*배경 애니메이션*/
@keyframes flowerAni {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.visual {
    /*background: yellow;*/
    height: 120px;
    position: relative;
}

.visual::before, .visual::after {
    /*animation-name: flowerAni;*/
    /*animation-duration: 2s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate;*/
    /*animation-play-state:;*/
    animation: flowerAni 2s infinite alternate;

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}

.visual::before {
    background-position: 0 -10px, 670px 0;
    background-image: url("images/ani_flower_01.png"), url("images/ani_flower_02.png");
}

.visual::after {
    animation-delay: 2s;
    background-position: 300px 0, 800px 0;
    background-image: url("images/ani_flower_03.png"), url("images/ani_flower_04.png");
}

/*텍스트 애니메이션*/
.visual-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    /*width: 500px;*/
    z-index: 10;
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    animation-name: textAni;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/*메인콘텐츠*/
.main {
    padding: 30px 15px;
    border-radius: 15px 15px 0 0;
    min-height: 450px;
    background: #ffffff;

    /* display: flex;
    justify-content: space-between;
    flex-direction: row; */

    overflow: hidden;
}

.group {
    float: left;
    /*height: 30vh;*/
    margin: 0 15px;
}

.group1 {
    width: 250px;

}

.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
}

/*로그인*/
/*.login{*/
/*background: #ed552f;*/
/*}*/

/*.login-heading{*/
/*display: inline-block;*/
/*font-weight: 700;*/
/*margin: 10px 21px;*/
/*margin-bottom: 10px;*/
/*line-height: 20px;*/
/*}*/

/*.login-form{*/
/*background: #ed552f;*/

/*}*/

/*fieldset{*/
/*margin: 0 5px;*/
/*!*border-radius: 10px;*!*/
/*border-radius: 5px 5px 0 0;*/
/*background: #ffffff;*/
/*padding: 15px;*/
/*width: 57px;*/
/*position: relative;*/
/*margin-bottom: 12px;*/
/*border-bottom: 1px #aaaaaa solid;*/
/*}*/

/*input{*/

/*width: 100px;*/
/*height: 22px;*/
/*}*/

/*label{*/
/*width: 52px;*/
/*display: inline-block;*/
/*}*/

/*.user-email, .user-pw{*/
/*display: inline-block;*/
/*width: 210px;*/
/*margin-bottom: 5px;*/

/*}*/

/*.btn-login{*/
/*font-size: 1.2rem;*/
/*display: block;*/
/*position: absolute;*/
/*border-radius: 4px;*/
/*top: 15px;*/
/*right: 11px;*/
/*width: 50px;*/
/*height: 50px;*/
/*margin-bottom: 12px;*/
/*color: #ffffff;*/
/*background: orange;*/
/*}*/

/*.sign{*/
/*display: inline;*/
/*}*/

/*.sign li{*/
/*display: inline;*/
/*}*/

.login {
    background: radial-gradient(circle at right top, orange, orangered);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px #aaaaaa;
}

.login-heading {
    color: yellow;
    font-size: 1.5rem;
    font-weight: 700;
    text-indent: 1em;
}

.login-form {
    background: #ffffff;
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 0 10px;
    margin-top: 10px;
}

.login-form fieldset {
    padding-bottom: 10px;
    border-bottom: 1px solid #aaaaaa;
    position: relative;
}

.user-pw {
    margin-top: 6px;
}

.login-form label {
    display: inline-block;
    width: 4em;
}

.login-form input {
    width: 90px;
    height: 22px;
    border: 1px solid #aaaaaa;
    padding: 1px 1px 1px 5px;
}

.btn-login {
    background: orange;
    border: 0;
    padding: 2px;
    color: #ffffff;
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.sign {
    border-radius: 0 0 5px 5px;
    background: #ffffff;
    padding: 8px 10px;
}

.sign li:first-child {
    float: left;
}

.sign li:last-child {
    float: right;
}

.sign li {
    letter-spacing: -1px;
}

.sign li::before {
    color: orange;
}

/*유효성 검사 배너*/
/*.validation {*/
/*margin-top: 20px;*/
/*}*/

/*.validation li {*/
/*border: 1px solid #aaaaaa;*/
/*border-radius: 15px;*/
/*height: 32px;*/
/*background: radial-gradient(circle at right top, #ffffff, darkgray);*/
/*}*/

/*.validation li:last-child {*/
/*margin-top: 10px;*/

/*}*/

/*.validation a {*/
/*width: 100%;*/
/*height: 100%;*/
/*display: inline-block;*/
/*line-height: 31px;*/
/*padding-left: 45px;*/
/*background: url("./images/validation_icon.png") no-repeat ;*/
/*background-size: 15px;*/
/*background-position:7% 50%;*/
/*}*/

/*유효성 검사 배너*/
.validation-list {
    margin-top: 25px;
}

.validation-list a {
    display: block;
    border: 1px solid #aaaaaa;
    background: url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(#cccccc, #eeeeee);
    border-radius: 15px;
    height: 30px;
    line-height: 28px;
    padding-left: 45px;
    margin-top: 10px;
}

/*웹관련 용어*/

/*.term {*/
/*margin-top: 20px;*/
/*background: linear-gradient(#cccccc, #eeeeee);*/
/*!*height: 250px;*!*/
/*border: 1px solid #eeeeee;*/
/*border-radius: 5px;*/
/*padding: 10px;*/
/*}*/

/*.term-list div {*/
/*height: 90px;*/
/*clear: both;*/
/*}*/

/*.term-heading {*/
/*padding-top: 15px;*/
/*padding-left: 10px;*/
/*margin-bottom: 15px;*/
/*}*/

/*.term-list-subject {*/
/*!*width: 160px;*!*/
/*margin-left: 10px;*/
/*margin-right: 70px;*/
/*color: darkblue;*/
/*float: right;*/
/*}*/

/*.term-list-thumbnail {*/
/*float: left;*/
/*margin-left: 10px;*/
/*}*/

/*.term-list-brief {*/
/*width: 142px;*/
/*margin-top: 5px;*/
/*float: right;*/
/*}*/

/*.even {*/
/*margin-top: 10px;*/
/*margin-left: 5px;*/
/*}*/

/*.even .term-list-subject {*/
/*!*margin-left: 20px;*!*/
/*!*width: 142px;*!*/
/*!*margin-right: 0;*!*/
/*margin: 0;*/
/*float: left;*/
/*}*/

/*.even .term-list-thumbnail {*/
/*float: right;*/
/*margin-right: 8px;*/
/*margin-top: 5px;*/
/*}*/

/*.even .term-list-brief {*/
/*float: left;*/
/*}*/

/*웹 관련 용어*/
.term {
    margin-top: 20px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px 15px;
    background: #cccccc linear-gradient(#cccccc, #eeeeee);
}

.term-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.term div {
    margin-top: 10px;
}

.term div::after {
    content: "";
    display: block;
    clear: both;
}

.term-list-subject {
    margin-top: -4px;
}

.term-list-subject, .term-list-brief {
    float: right;
    width: 145px;
}

.term-list-thumbnail {
    float: left;
}

.term-list-brief {
    margin-top: 5px;

}

.term-list-thumbnail img {
    vertical-align: top;
}

.even .term-list-subject, .even .term-list-brief {
    float: left;
}

.even .term-list-thumbnail {
    float: right;
}

/*-------------------*/
/*검색 폼*/
.search {
    background: linear-gradient(#cccccc, #eeeeee);
    border: 1px solid #aaaaaa;
    border-bottom: none;
    padding: 15px 25px 10px;
    border-radius: 15px 15px 0 0;
}

.search-form input {
    width: 195px;
    height: 22px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 1px 1px 1px 5px;
}

.btn-search {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 1px 10px;
    height: 22px;
    background: #333;
    color: #ffffff;
    font-size: 85%;
}

.search-container {
    display: flex;
    /*height: 100px;*/

    /*justify-content: space-around;*/
    justify-content: space-between;
    align-items: center;
}

/*!*공지사항 및 자료실*!*/

/*.board-list {*/
/*background: pink;*/
/*!*margin-top: 10px;*!*/
/*padding: 2px;*/
/*padding-right: 0;*/
/*}*/

/*.board-list li{*/
/*margin-bottom: 10px;*/
/*}*/

/*.board-list li a {*/
/*float: left;*/
/*width: 300px;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
/*}*/

/*.tab{*/
/*height: 33px;*/
/*display: inline-block;*/
/*line-height: 11px;*/
/*padding: 11px;*/
/*border: 1px solid #cccccc;*/
/*border-radius: 5px 5px 0 0;*/
/*color: #6e6e6e;*/
/*background: linear-gradient(#eeeeee,#cccccc);*/
/*}*/
/*.board-act .tab{*/

/*border: 1px solid orangered;*/
/*color: orangered;*/
/*border-bottom: 0;*/
/*background: #ffffff;*/
/*}*/

/*.board-act{*/
/*display:block;*/
/*}*/

/*.board-more{*/
/*top: 7px;*/
/*right: 9px;*/
/*display: inline-block;*/
/*float: right;*/
/*position: absolute;*/
/*}*/

/*.board .icon-plus::before{*/
/*color: green;*/
/*}*/
/*.notice{*/
/*position: absolute;*/
/*}*/

/*.pds{*/
/*top: 33px;*/
/*clear: both;*/
/*background: greenyellow;*/
/*position: absolute;*/
/*}*/

/*.pds-heading{*/
/*top: -33px;*/
/*left: 75px;*/
/*position: absolute;*/
/*display: inline-block;*/
/*}*/

.board {
    position: relative;
    margin-top: 20px;
    min-height: 180px;
}

.tab {
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 5px 10px;
    color: #333;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    background: #ccc linear-gradient(#ccc, #eee);
}

.notice-heading {
    left: 0;
}

.pds-heading {
    left: 73px;
}

.board-act .tab {
    border-color: #e25d2d #e25d2d #fff #e25d2d;
    background: #fff;
    color: #e25d2d;
}

.board-list {
    /* background: hsla(30,50%,50%,0.5); */
    padding-top: 45px;
}

.board-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px; /* 패딩을 추가한 바람에 top, right, 좌표를 음수로 줌 */
}

.board-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px;
}

.board-list a {
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-list,
.board-more {
    display: none;
}

.board-act .board-list,
.board-act .board-more {
    display: block;
}

.board-more::before {
    color: hsla(110, 90%, 30%, 1);
}

/*새소식 news*/
/*
.news {
    margin-top: 20px;
    position: relative;
}
.news ::after {
    content: "";
    display: block;
    clear: both;
}

.news-heading {
    font-weight: 700;
    color: orangered;
    padding-bottom: 10px;
    background: pink;

}

.news-item {
    position: relative;
    background: goldenrod;
    clear: both;
}

.news-item > a{
    display: block;
}
.news-item-date, .news-item-subject, .news-item-brief{
    float: right;
    width: 250px;
}

.news-item-subject{
    background: green;
    margin-top: 20px;
    font-weight: 700;
}
.news-item-date{
    margin-bottom: 10px;
    !*display: inline-block;*!
}

.news-item-brief{
    background: rebeccapurple;
}


.news-item-thumbnail {
    !*float: left;*!
    top: 20px;
    position: absolute;
}

.news-item-thumbnail figcaption {
    background: #d60000;
    margin-top: 15px;
    text-align: center;
}

.news-more{
    background: mediumpurple;
    top: 0;
    right: 0;
    position: absolute;
}*/

.news {
    margin-top: 20px;
    position: relative;
}

.news::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 80%;
    height: 1px;
    background: #aaaaaa linear-gradient(to right, #aaaaaa, #ffffff);

}

.news-heading {
    color: #e25d2d;
    font-size: 1.5rem;
    font-weight: 700;
}

.news-item {
    position: relative;
    margin-top: 35px;
}

.news-item a {
    display: block;
    padding-left: 130px;
}

.news-item-thumbnail {
    position: absolute;
    top: 3px;
    left: 0;
    text-align: center;
}

.news-item-thumbnail img {
    margin-bottom: 15px;
    box-shadow: 0 10px 15px;
}

.news-item-subject {
    font-size: 1.5rem;
}

.news-item-date {
}

.news-item-brief {
    margin-top: 10px;
    line-height: 1.5;
}

.news-more {
    position: absolute;
    padding: 8px;
    top: -8px;
    right: -8px;
}

.news-more::before {
    color: hsla(110, 90%, 30%, 1);
}

/*신규이벤트 & 관련 사이트*/
.event-related {
    background: #cccccc linear-gradient(#cccccc, #eeeeee);
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.event {
    padding-bottom: 10px;
}

.event-heading {
    font-weight: 700;
}

.event-heading span {
    color: #e25d2d;
}

#event-detail {
    margin-top: 10px;
}

#event-detail img {
    box-shadow: 5px 5px #aaaaaa;
}

#event-detail p {
    margin: 5px auto;
    display: inline-block;
    text-align: center;
}

.btn-event {
    /*background: yellow;*/
    height: 18px;
    padding: 2px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-event-prev, .btn-event-next {
    margin: 1px;
    width: 19px;
    height: 18px;
    /*padding-top: 18px;*/
    border: 0;
    background: url("images/back_forward.png") no-repeat;
}

.btn-event-next {
    background-position: 100% 0;
}

/*
.btn-event-prev, .btn-event-next{
    overflow: hidden;
    box-sizing: border-box;
    width: 19px;
    height: 18px;
    display: inline-block;
    background: url("images/back_forward.png");
}

.btn-event-prev{
    position: absolute;
    top: 10px;
    right: 30px;
}

.btn-event-next{
    background-position: 74px 0;
    position: absolute;
    top: 10px;
    right: 10px;

}*/

.related {
    /*background: deepskyblue;*/
    padding-top: 10px;
    border-top: #aaaaaa 1px solid;
}

.related-heading, .favorite-heading {
    font-weight: 700;
}

.related-heading span, .favorite-heading span {
    color: #e25d2d;
}

.related-list {
    background: #ffffff;
    border: 1px solid #aaaaaa;
    padding: 0 5px;
    margin-top: 10px;
    text-align: left;
    border-radius: 5px;
    height: 27px;
    overflow: hidden;
    transition: all .4s;
}

.related-list a {
    display: block;
}

.related-list:hover, .related-list:focus, .list-act {
    padding: 10px 0;
    height: 147px;
}

.related-list li {
    padding: 3px 0 3px 15px;

    /*line-height: 26px;*/

    display: block;
}

/*
.favorite {
    background: #cccccc linear-gradient(#cccccc, #eeeeee);
    position: relative;
    margin-top: 22px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px;
}

.favorite-heading {
    font-weight: 700;
    margin-bottom: 10px;
}

.favorite-heading span {
    color: #e25d2d;
}

.favorite-more {
    position: absolute;
    top: 10px;
    right: 10px;
}

.favorite-more::before {
    color: hsla(110, 90%, 30%, 1);
}
.favorite-list{
}

.favorite-list li{
    margin-bottom: 3px;
    !*display: block;*!
    position: relative;
    margin-left: 15px;
    !*list-style: square;*!
}

.favorite-list em {
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 0;
    background-image: url("images/rank.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 9px;
    height: 0px;
    padding-top: 11px;
    overflow: hidden;
}

.down{
    background-position: 0 -44px;
}
.stop{
    background-position: 0 -20px;
}*/

/*인기사이트*/

.favorite {
    position: relative;
    margin-top: 20px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px 10px 5px 10px;
    background: #cccccc linear-gradient(#cccccc, #eeeeee);
}

.favorite-more {
    position: absolute;
    padding: 8px;
    top: 2px;
    right: 2px;
}

.favorite-more::before {
    color: hsla(110, 90%, 30%, 1);
}

.favorite-list{
    margin-top: 5px;
    overflow: hidden;
    /*counter-reset: 0;*/
}

.favorite-list li{
    position: relative;
    counter-increment: number;
    margin:5px 0;

}


.favorite-list li:before{
    content: counter(number);
    background: #aaaaaa;
    color: #ffffff;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0px 5px;
    border-radius: 2px;
    margin-right: 5px;
}


.up,.down,.stop{
    background: url("images/rank.png") no-repeat;
    position: absolute;
    width: 9px;
    height: 11px;
    padding-top: 11px;
    overflow: hidden;
    right: 0;
    top: 50%;
    margin-top: -5px;
    /*margin-top: -11px;*/
}

.stop{
    background-position: 0 50%;
}
.down{
    background-position: 0 100%;
}




/*슬로건*/
.slogan {
    padding: 30px 70px 10px 180px;
    /*background: pink;*/
    position: relative;
}

.slogan-heading{
    /*background: lime;*/
    width: 110px;
    height: 83px;
    position: absolute;
    left: 35px;
    bottom: -35px;
    text-align: center;
    line-height: 83px;
}

.slogan-heading::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("images/coffee.png");
}

.slogan-content{
    color: #a09874;
}

.slogan-content q::before{

    content: '"';
    font-size: 3rem;
    position: relative;
    top: 10px;
}

/*푸터*/
.footer-bg {
    background:#aaaaaa linear-gradient(#aaaaaa 0%, #eeeeee 40%, #ffffff 70%, #ffffff 100%);

}

.footer {
    /*background: yellow;*/
    position: relative;
    padding: 15px 100px 15px 180px;
}
.footer-logo{
    background: lime;
    position: absolute;
    top: 35px;
    left: 40px;
}
.bedge{
    top: 15px;
    right: 0;
    position: absolute;
    background: pink;
}
.guide{
    background: #aaaaaa;
    color: #eeeeee;
    padding: 4px 0;
    border-right: 25px;
    text-align: center;


}
.guide li, .guide a{
    display: inline-block;
}
.guide li:nth-child(n+2){
    /*background: #000;*/
}
.guide a{
    padding: 8px 10px;
    text-transform: uppercase;
}

.address{
    margin-top: 10px;
}
.address span{
    margin-top: 15px;
}